<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--代理服务器的端口-->
    <add key="ProxyPort" value="5533"/>

    <!--SSL代理端口-->
    <add key="SslProxyAddress" value="https://localhsot:7777"/>

    <!--问题答案服务器的地址-->
    <add key="AnswerService" value="http://localhost:5544"/>
  </appSettings>
</configuration>