<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--代理服务器的端口-->
    <add key="ProxyPort" value="5533"/>

    <!--ws服务器的端口-->
    <add key="WsPort" value="5534"/>

    <!--是否回复答案-->
    <add key="WithAnswer" value="true"/>

    <!--SSL代理端口-->
    <add key="SslProxyAddress" value="https://localhost:7777"/>
  </appSettings>
</configuration>