<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxyConfig" type="KingQuestionProxy.ProxyConfigSection,KingQuestionProxy" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <!--代理服务器的端口-->
    <add key="ProxyPort" value="5533"/>

    <!--ws服务器的端口，用于客户端开发扩展-->
    <add key="WsPort" value="5534"/>

    <!--是否在响应给手机端时附加答案-->
    <add key="ResponseAnswer" value="true"/>
  </appSettings>

  <!--代理设置，是否只代理pac列表的域名-->
  <!--如果手机端不支持自动代理，proxyPacOnly设置为false-->
  <proxyConfig proxyPacOnly="true">
    <!--客户端自动代理的域名-->
    <pac>
      <add host="question.hortor010.com"/>
      <add host="question.hortor.net"/>
      <add host="notifyquestion-tj.hortor.net"/>
      <add host="cash.hortor.net"/>
    </pac>
  </proxyConfig>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>