<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>头脑王者代理--老九</title>
    <script src="/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">
        function viewClient() {
            location.href = '/client?ip=' + $('#ipAddress').val();
        };
    </script>

    <style>
        li {
            padding: 5px 10px;
        }
    </style>
</head>
<body>

    <h3>使用教程</h3>
    <ol>
        <li>
            <span></span><a href="/client.cer">在手机点击下载安装证书</a>
        </li>
        <li>
            <span>给手机wifi连接设置代理：@(Model.ProxyIpEndpoint)</span>
        </li>
    </ol>

    <h3>服务管理</h3>
    <ol>
        <li>
            <span>客户端列表</span>
            <select id="ipAddress">
                @foreach (var ip in Model.ClientsIp)
                {
                    <option>@ip</option>
                }
            </select>
            <a href="javascript:void(0)" onclick="viewClient();">监控</a>
        </li>

        <li>
            <a href="/data/export">导出作题数据</a>
        </li>

        <li>
            <form enctype="multipart/form-data" method="post" action="/data/import">
                <input name="file" type="file" value="请选择data.json文件" />
                <button type="submit">导入作题数据</button>
            </form>
        </li>
    </ol>
</body>
</html>