<div class="qa">
    <h4>@Model.Quiz</h4>
    <ol>
        @foreach (var opt in @Model.Options)
        {
            <li>@(opt)</li>
        }
    </ol>

    @if (Model.Index >= 0)
    {
        <h5>最佳答案：@(Model.Index + 1) @(Model.Options[Model.Index])</h5>
    }
    else
    {
        <h5>找不到答案 ..</h5>
    }
</div>
