<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--自动开始下一局-->
    <add key="autoRestart" value="true"/>

    <!--adb工具包路径-->
    <add key="adb" value="D:\platform-tools\adb.exe"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
